* {

padding: 0;
margin: 0;

}






.main_container {


width: 100%;
height:1000px;
display: flex;
flex-direction: column;
align-items: center;
}


.report_container {

background-color: white;
border-radius: 10px;
margin-top: 5%;
width: 55%;
height: auto;

display: flex;
flex-direction: column;
align-items: center;
padding-block: 5%;
box-shadow: 3px 6px 18px -8px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 6px 18px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 6px 18px -8px rgba(0,0,0,0.75);



}


.list_holder {

width: 80%;
background-color: rgb(255, 215, 225);
aspect-ratio: 12/1.5;
margin-bottom: 1%;
border-radius: 5px;
display: grid;
grid-template-columns: 45% 25% 30%;

-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;


}


.grid_one {

 
display: flex;
flex-direction: row;
align-items: center;

}


.grid_two {


display: flex;
align-items: center;
justify-content: center;
font-size: clamp(5px, 1.2vw, 14px);

}


.grid_three {

display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
gap: 6%;

}


.buttons {


background-color: #39ee48;
padding-inline: 6%;
padding-block: 3%;
font-size: clamp(5px, 1.2vw, 16px);
border-radius: 5px;
color: white;
font-weight: bold;
cursor: pointer;

}


.buttons:nth-child(2) {


background-color: rgb(250, 58, 90);

}

.logo_issue {

    

margin-left: 5%;
font-size: clamp(5px, 2vw, 35px);

}


.issue_title {

margin-left: 4%;
font-size: clamp(5px, 1.2vw, 16px);
font-weight: bold;

}


.no_issues_message {

    
font-size: clamp(5px, 1.2vw, 20px);
font-weight: bold;

}

.delete_report_button {

background-color: rgb(255, 60, 60);
margin-left: 30%;

}



.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 7px solid #f3f3f3;
    border-top: 7px solid #67df30;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.7s linear infinite;
    display: none; /* Add this line to hide the spinner by default */
    z-index: 9999;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



  @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }