<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/details.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="icon" type="image/png" href="https://gcdnb.pbrd.co/images/cPhCVrB22ZLU.jpg?o=1">





</head>


<title>YumRadar</title>


<div id="loader" class="loader"></div>

<body style="background-color: rgb(241, 241, 241)">

  <nav class="navbar navbar-expand-lg"
    style="background-color: white; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); min-width: 414px; ">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}"><img src="https://gcdnb.pbrd.co/images/yPa00YmfeCYP.png?o=1" alt=""
          style="width: 170px; height:60px; border-radius: 10px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">


        <ul class="navbar-nav me-auto mb-2">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" onclick="redirectToDetails('{{ url_for('index') }}')"
             ><i class="fa-solid fa-house" style="margin-right: 5px;"></i>Home</a>
          </li>


          {% if 'username' in session %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{profile_pic_url}}" alt="" class="profile-icon">
              {{ session['username'] }}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" onclick="redirectToDetails('{{ url_for('profile') }}')">Profile setting</a>
              </li>
              <li><a class="dropdown-item" onclick="redirectToDetails('{{ url_for('bookmarks') }}')">Bookmarks</a></li>
              <li><a class="dropdown-item" onclick="redirectToDetails('{{ url_for('help_desk') }}')">Help desk</a></li>
              {% if session['is_admin'] %}
              <li><a class="dropdown-item" onclick="redirectToDetails('{{ url_for('admin_dashboard') }}')">Admin Dashboard</a></li>
              {% endif %}
            </ul>
            {% else %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" onclick="redirectToDetails('{{ url_for('login') }}')"
            ><i class="fa-solid fa-right-to-bracket"
                style="margin-right: 5px;"></i>Login</a>
          </li>
          {% endif %}



          {% if 'username' in session %}
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" onclick="redirectToDetails('{{ url_for('logout') }}')"
              ><i class="fa-solid fa-right-from-bracket"
                style="margin-right: 5px;"></i>Logout</a>
          </li>
        </ul>
        {% else %}
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" onclick="redirectToDetails('{{ url_for('register') }}')"
          ><i class="fa-solid fa-user-plus"
            style="margin-right: 5px;"></i>Register</a>
        </li>
        </ul>
        {% endif %}


        <form class="d-flex" role="search" action="{{ url_for('recommend') }}" method="post">
          <select id="location" name="location">
            {% for location in location_select %}
            <option value="{{ location }}"><i class="fa-solid fa-location-dot"></i>{{ location }}</option>
            {% endfor %}
          </select>
          <input class="form-control me-2" type="search" placeholder="Search for Foods, Category, Resto" aria-label="Search " name="value"
            id="value" style="background-color: rgb(212, 212, 212);">
          <button class="btn btn-success" onclick="redirectToDetails('{{ url_for('details', name=restaurant.Resto_id) }}') }}')">Search</button>
        </form>
      </div>
    </div>
  </nav>






  <div class="grid_container" style="margin-top: 30px;">


    <div class="grid one">

      <div class="photo_container">
        <img src="{{ restaurant.large_image_url }}">
      </div>

    </div>


    <div class="grid two">


      <div class="sim_res_container">

      <div class="similar-restaurants">
        <h3>You may also like</h3>
        <ul>
          {% for similar_restaurant in similar_restaurants %}
          <li>
            <a href="{{ url_for('details', name=similar_restaurant.Resto_id) }}">
              <div class="thumbnail"><img src="{{ similar_restaurant.image_url }}" alt=""></div>
              <div class="resto_details">
                <div class="resto_name">{{ similar_restaurant.Resto_name | truncate(25) }}</div>
                <div class="resto-info">
                  <div class="location">{{ similar_restaurant.location }}</div>
                  <div class="category">{{ similar_restaurant.category | truncate(29) }}</div>
                  <div class="cost">Average cost for two: &#8369; {{ similar_restaurant.cost_for_two }}</div>
                </div>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>

    </div>

    </div>


    <div class="grid three">

      <div class="Restaurant_name">

        <div class="name">

          <h1 class="main-title">{{ restaurant.name }}</h1>

        </div>



        <div class="like">


          {% if logged_in %}
          {% if clicked %}
          <form id="undo-like-form" action="{{ url_for('undo_like') }}" method="post">
            <input type="hidden" name="resto_id" value="{{ restaurant.resto_id }}">
            <button id="undo-like-button" type="submit"
              style="width:0; height:0; border: none; margin-right: 25px; margin-bottom: 46px;">
              <i class="fas fa-thumbs-up" style="color: green;"></i>
            </button>
          </form>

          <script>
            document.getElementById('undo-like-form').addEventListener('submit', function (event) {
              event.preventDefault(); // Prevent the form from submitting normally
              var button = document.getElementById('undo-like-button');
              if (!button.disabled) { // Check if the button is not disabled
                button.disabled = true; // Disable the button
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/undo_like');
                xhr.onload = function () {
                  if (xhr.status === 200) {
                    window.location.reload(); // Refresh the page
                  } else {
                    button.disabled = false; // Enable the button in case of an error
                  }
                };
                xhr.send(new FormData(event.target));
              }
            });
          </script>
          {% else %}
          <form id="submit-like-form" action="{{ url_for('submit_like') }}" method="post">
            <input type="hidden" name="resto_id" value="{{ restaurant.resto_id }}">
            <button id="submit-like-button" type="submit"
              style="width:0; height:0; border: none; margin-right: 25px; margin-bottom: 46px;">
              <i class="fas fa-thumbs-up" style="color: rgb(170, 168, 168);"></i>
            </button>
          </form>

          <script>
            document.getElementById('submit-like-form').addEventListener('submit', function (event) {
              event.preventDefault(); // Prevent the form from submitting normally
              var button = document.getElementById('submit-like-button');
              if (!button.disabled) { // Check if the button is not disabled
                button.disabled = true; // Disable the button
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/submit_like');
                xhr.onload = function () {
                  if (xhr.status === 200) {
                    window.location.reload(); // Refresh the page
                  } else {
                    button.disabled = false; // Enable the button in case of an error
                  }
                };
                xhr.send(new FormData(event.target));
              }
            });
          </script>
          {% endif %}
          {% else %}
          <form id="submit-like-form" action="{{ url_for('submit_like') }}" method="post">
            <input type="hidden" name="resto_id" value="{{ restaurant.resto_id }}">
            <button id="submit-like-button" type="submit"
              style="width:0; height:0; border: none; margin-right: 25px; margin-bottom: 46px;">
              <i class="fas fa-thumbs-up" style="color: rgb(170, 168, 168);"></i>
            </button>
          </form>
          {% endif %}










          {% if likes_count %}
          <div class="like_count">{{likes_count}}</div>
          {% endif %}
          {% if overall_average %}
          <div class="overall_ratings">{{ overall_average[0].total_ratings }} Ratings | Overall ratings: {{
            overall_average[0].overall_rating }}</div>
          {% else %}
          <div class="overall_ratings">0 Ratings | Overall ratings: 0</div>
          {% endif %}
          <div class="stars">
            {% for i in range(5) %}
            {% if overall_average and overall_average[0].overall_rating >= i + 1 %}
            <i class="fas fa-star"></i>
            {% else %}
            <i class="far fa-star"></i>
            {% endif %}
            {% endfor %}
          </div>
        </div>


      </div>

    </div>







    <div class="grid four">

      <div class="buttons_containers">


        {% if logged_in %}

        {% if is_bookmarked %}

        <button type="submit" class="button save">
          <i class="fa-regular fa-floppy-disk"></i>
          <a href="/bookmarks" target="_blank" style="text-decoration: none; color: #333;">Bookmarked</a>
        </button>


        {% else %}

        <form id="bookmark-form">
          <input type="hidden" name="resto_id" value="{{ restaurant.resto_id }}">
          <input type="hidden" name="name" value="{{ restaurant.name }}">
          <input type="hidden" name="location" value="{{ restaurant.location }}">
          <input type="hidden" name="category" value="{{ restaurant.category }}">
          <input type="hidden" name="image_url" value="{{ restaurant.image_url }}">
          <button type="submit" class="button save">
            <i class="fa-regular fa-floppy-disk"></i>
            bookmark
          </button>
        </form>

        {% endif %}

        {% else %}
        <form action="{{ url_for('submit_like') }}" method="post">
          <input type="hidden" name="resto_id" value="{{ restaurant.resto_id }}">
          <input type="hidden" name="name" value="{{ restaurant.name }}">
          <input type="hidden" name="location" value="{{ restaurant.location }}">
          <input type="hidden" name="category" value="{{ restaurant.category }}">
          <input type="hidden" name="image_url" value="{{ restaurant.image_url }}">
          <button type="submit" class="button save">
            <i class="fa-regular fa-floppy-disk"></i>
            bookmark
          </button>
        </form>
        {% endif %}



        <button class="button direction">
          <i class="fa-solid fa-diamond-turn-right"></i>
          <a href="{{restaurant.url_direction}}" target="_blank"
            style="text-decoration: none; color: rgb(61, 61, 61);">Direction</a>
        </button>

        <button class="button share">
          <i class="fa-solid fa-share-from-square"></i>
          Share
        </button>


      </div>
    </div>






    <div class="grid five">

      <div class="tabs-container">
        <div class="tabs">
          <button class="tab-btn active" onclick="openTab(event, 'description')"
            style="border-top-left-radius: 5px;">Description</button>
          <button class="tab-btn" onclick="openTab(event, 'food_service')">Food Service</button>
          <button class="tab-btn" onclick="openTab(event, 'Maps')">Maps</button>
        </div>
        <div id="description" class="tab-content active">

          <div class="description_one">

            <div class="Address" style="margin-top: 10px;"><i class="fa-solid fa-map-location-dot"
                style="margin-right: 10px; "></i><strong>Address: </strong>{{restaurant.address}}</div>
            <div class="Locality"><i class="fa-solid fa-city" style="margin-right: 10px; ;"></i><strong>Locality:
              </strong>{{restaurant.location}}</div>
            <div class="category"><i class="fa-solid fa-martini-glass-citrus"
                style="margin-right: 10px; "></i><strong>category: </strong>{{restaurant.category}}</div>

          </div>


          <div class="description_two">

            <div class="contacts_title">
              <div class="contacts">Contacts:</div>
            </div>


            <div class="contacts_content">


              <div class="local_number" style="margin-top: 10px; margin-bottom:10px"><i
                  class="fa-regular fa-address-book" style="margin-right: 10px;"></i><strong>Local Number:
                </strong>{{restaurant.local_contacts}}</div>
              <div class="international_number"><i class="fa-solid fa-globe"
                  style="margin-right: 10px;"></i><strong>International Number:
                </strong>{{restaurant.international_contacts}}</div>


            </div>




          </div>



        </div>





        <div id="food_service" class="tab-content">

          <div class="food_service_container">


            <div class="left">

              <div class="Delivery"><i class="fa-solid fa-truck" style="margin-right: 10px;"></i><strong>Delivery:
                </strong>{{restaurant.Delivery}}</div>
              <div class="Reservable"><i class="fa-solid fa-book-open"
                  style="margin-right: 10px;"></i><strong>Reservable: </strong>{{restaurant.reservable}}</div>
              <div class="Takeout"><i class="fa-solid fa-briefcase" style="margin-right: 10px;"></i><strong>Takeout:
                </strong>{{restaurant.Takeout}}</div>
              <div class="Dine_in"><i class="fa-solid fa-utensils" style="margin-right: 10px;"></i><strong>Dine in:
                </strong>{{restaurant.dine_in}}</div>
              <div class="serves_Breakfast"><i class="fa-solid fa-mug-saucer"
                  style="margin-right: 10px;"></i><strong>Serves Breakfast: </strong>{{restaurant.serves_breakfast}}
              </div>




            </div>

            <div class="right">
              <div class="serves_lunch"><i class="fa-solid fa-utensils" style="margin-right: 10px;"></i><strong>Serves
                  Lunch: </strong>{{restaurant.serves_lunch}}</div>
              <div class="serves_brunch"><i class="fa-solid fa-utensils" style="margin-right: 10px;"></i><strong>Serves
                  Brunch: </strong>{{restaurant.serves_brunch}}</div>
              <div class="serves_dinner"><i class="fa-solid fa-utensils" style="margin-right: 10px;"></i><strong>Serves
                  Dinner: </strong>{{restaurant.serves_dinner}}</div>
              <div class="serves_beer"><i class="fa-solid fa-beer-mug-empty"
                  style="margin-right: 10px;"></i><strong>Serves Beer: </strong>{{restaurant.serves_beer}}</div>
              <div class="serves_wine"><i class="fa-solid fa-wine-bottle" style="margin-right: 10px;"></i><strong>Serves
                  Wine: </strong>{{restaurant.serves_wine}}</div>


            </div>

          </div>


          <script>

            // Assuming you have a variable called `restaurant` containing the data

            // Get the element with the class "Reservable"
            var reservableElement = document.querySelector('.Reservable');

            // Get the value of Delivery from the `restaurant` object
            var deliveryValue = restaurant.Delivery;

            // Convert the deliveryValue to lowercase and check if it is "true"
            if (deliveryValue.toLowerCase() === 'TRUE') {
              // Set the text content of the element to "Available"
              reservableElement.textContent = 'Reservable: Available';
            } else {
              // Set the text content of the element to "N/A"
              reservableElement.textContent = 'Reservable: N/A';
            }


          </script>

        </div>





        <div id="Maps" class="tab-content">


          <div class="Maps_container">



            <div id="map"></div>

          </div>

          <style>
            #map {



              height: 100%;
              width: 100%;

              box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
              border-bottom: 30px solid rgb(255, 255, 255);
            }
          </style>

          <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCM-Tau4R9IViS7_5svXJHwZUNd191kdTM&callback=initMap"
            async defer></script>

          <script>
            // Initialize and display the map
            function initMap() {
              // Retrieve the latitude, longitude, and place name values from the template variables
              var latitude = {{ restaurant.latitude }};
            var longitude = {{ restaurant.longitude }};
            var placeName = "{{restaurant.name}}";

            // Create a map object centered at the provided coordinates
            var map = new google.maps.Map(document.getElementById("map"), {
              center: { lat: latitude, lng: longitude },
              zoom: 14, // Adjust the zoom level as desired
            });

            // Custom map styles
            var mapStyles = [
              {
                elementType: "labels",
                stylers: [
                  { visibility: "on" },
                  { fontSize: "10px" } // Decrease the font size of the labels
                ]
              }
            ];

            // Add a marker to the map with an info window displaying the place name
            var marker = new google.maps.Marker({
              position: { lat: latitude, lng: longitude },
              map: map,
              title: placeName,
            });

            var infoWindow = new google.maps.InfoWindow({
              content: placeName,
            });

            marker.addListener("click", function () {
              infoWindow.open(map, marker);
            });
            }
          </script>




        </div>
      </div>


    </div>




    <div class="grid six">


      <div class="Comment_input_layer">


        {% if logged_in %}
        <div class="comment_input_container">
          <form id="submit-rating-form" action="{{ url_for('submit_rating') }}" method="POST">
            <div class="container_review">
              <input type="hidden" name="resto_id" value="{{ restaurant.resto_id }}">
              <div class="rating-container">
                <div class="rating-stars">
                  <i class="fas fa-smile"
                    style="font-size: 20px; color: rgb(218, 48, 85);margin-left: 10px; margin-bottom: 6px;"></i>
                  <input type="radio" name="rating" id="star5" value="5" />
                  <label for="star5"><i class="fas fa-star"></i></label>
                  <input type="radio" name="rating" id="star4" value="4" />
                  <label for="star4"><i class="fas fa-star"></i></label>
                  <input type="radio" name="rating" id="star3" value="3" />
                  <label for="star3"><i class="fas fa-star"></i></label>
                  <input type="radio" name="rating" id="star2" value="2" />
                  <label for="star2"><i class="fas fa-star"></i></label>
                  <input type="radio" name="rating" id="star1" value="1" />
                  <label for="star1"><i class="fas fa-star"></i></label>
                  <i class="fas fa-frown"
                    style="font-size: 20px; color: rgb(218, 48, 85);margin-right: 10px; margin-bottom: 6px;"></i>
                </div>
              </div>
              <div class="comment-container">
                <input type="text" name="review" id="review" placeholder="Write your comment here...">
                <input type="submit" class="button">
              </div>
            </div>
          </form>
        </div>

        <script>

          document.getElementById('submit-rating-form').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the form from submitting normally
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/submit_rating');
            xhr.onload = function () {
              if (xhr.status === 200) {

                window.location.reload(); // Refresh the page
              }
            };
            xhr.send(new FormData(event.target));
          });


        </script>


        {% else %}

        <div class="comment_input_container">
          <form id="submit-rating-form" action="{{ url_for('submit_rating') }}" method="POST">
            <div class="container_review">
              <input type="hidden" name="resto_id" value="{{ restaurant.resto_id }}">
              <div class="rating-container">
                <div class="rating-stars">
                  <i class="fas fa-smile"
                    style="font-size: 20px; color: rgb(218, 48, 85);margin-left: 10px; margin-bottom: 6px;"></i>
                  <input type="radio" name="rating" id="star5" value="5" />
                  <label for="star5"><i class="fas fa-star"></i></label>
                  <input type="radio" name="rating" id="star4" value="4" />
                  <label for="star4"><i class="fas fa-star"></i></label>
                  <input type="radio" name="rating" id="star3" value="3" />
                  <label for="star3"><i class="fas fa-star"></i></label>
                  <input type="radio" name="rating" id="star2" value="2" />
                  <label for="star2"><i class="fas fa-star"></i></label>
                  <input type="radio" name="rating" id="star1" value="1" />
                  <label for="star1"><i class="fas fa-star"></i></label>
                  <i class="fas fa-frown"
                    style="font-size: 20px; color: rgb(218, 48, 85);margin-right: 10px; margin-bottom: 6px;"></i>
                </div>
              </div>
              <div class="comment-container">
                <input type="text" name="review" id="review" placeholder="Write your comment here...">
                <input type="submit" class="button">
              </div>
            </div>
          </form>
        </div>

        {% endif %}



      </div>


      <div class="Review_layer">


        <div class="comment_section">
          {% if ratings %}
          <ul class="ratings-list_review">
            {% for rating in ratings %}
            <li class="comment-box">
              <div class="profile-pic">
                <img src="{{ rating.profile_pic_url }}" alt="">
              </div>
              <div class="comment-details">
                <div class="rating-username">{{ rating.username }} <span class="date">{{ rating.timestamp }}</span>
                </div>
                <div class="rating-value">
                  <div class="rating-stars">
                    {% for _ in range(rating.rating) %}
                    <i class="filled-star"></i>
                    {% endfor %}
                    {% for _ in range(5 - rating.rating) %}
                    <i class="empty-star"></i>
                    {% endfor %}
                  </div>
                </div>
                <div class="rating-comment">{{ rating.review }}</div>
                <div class="rating-actions">




                  {% if logged_in %}
                  {% if rating.clicked %}
                  <form id="undo-mark-helpful" action="{{ url_for('undo_mark_helpful') }}" method="post">
                    <input type="hidden" name="resto_id" value="{{ restaurant.resto_id }}">
                    <input type="hidden" name="comment_id" value="{{ rating.comment_id }}">
                    <button id="undo-mark-helpful-button" type="submit"
                      style="position: relative; right: 2px; top: 23px; width: 0px; height: 0px; border: none;">
                      <abbr title="Mark as Helpful"><i class="fas fa-thumbs-up"
                          style="color: #189714; font-size: 20px;"></i></abbr>
                    </button>
                  </form>

                  <script>
                    document.getElementById('undo-mark-helpful').addEventListener('submit', function (event) {
                      event.preventDefault(); // Prevent the form from submitting normally
                      var button = document.getElementById('undo-mark-helpful-button');
                      if (!button.disabled) { // Check if the button is not disabled
                        button.disabled = true; // Disable the button
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', '/undo_mark_helpful');
                        xhr.onload = function () {
                          if (xhr.status === 200) {
                            window.location.reload(); // Refresh the page
                          } else {
                            button.disabled = false; // Enable the button in case of an error
                          }
                        };
                        xhr.send(new FormData(event.target));
                      }
                    });
                  </script>
                  {% else %}
                  <form id="mark-helpful" action="{{ url_for('mark_helpful') }}" method="post">
                    <input type="hidden" name="resto_id" value="{{ restaurant.resto_id }}">
                    <input type="hidden" name="comment_id" value="{{ rating.comment_id }}">
                    <button id="mark-helpful-button" type="submit"
                      style="position: relative; right: 2px; top: 23px; width: 0px; height: 0px; border: none;">
                      <i class="fas fa-thumbs-up" style="color: #adadad; font-size: 20px;"></i>
                    </button>
                  </form>

                  <script>
                    document.getElementById('mark-helpful').addEventListener('submit', function (event) {
                      event.preventDefault(); // Prevent the form from submitting normally
                      var button = document.getElementById('mark-helpful-button');
                      if (!button.disabled) { // Check if the button is not disabled
                        button.disabled = true; // Disable the button
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', '/mark_helpful');
                        xhr.onload = function () {
                          if (xhr.status === 200) {
                            window.location.reload(); // Refresh the page
                          } else {
                            button.disabled = false; // Enable the button in case of an error
                          }
                        };
                        xhr.send(new FormData(event.target));
                      }
                    });
                  </script>
                  {% endif %}
                  {% else %}
                  <form id="mark-helpful" action="{{ url_for('mark_helpful') }}" method="post">
                    <input type="hidden" name="resto_id" value="{{ restaurant.resto_id }}">
                    <input type="hidden" name="comment_id" value="{{ rating.comment_id }}">
                    <button id="mark-helpful-button" type="submit"
                      style="position: relative; right: 2px; top: 23px; width: 0px; height: 0px; border: none;">
                      <i class="fas fa-thumbs-up" style="color: #adadad; font-size: 20px;"></i>
                    </button>
                  </form>
                  {% endif %}




                  <span class="count"
                    style="position: relative; bottom: 2px; font-weight: bold; left: 20px; color: #999999;">{{
                    rating.count }}</span>



                  {% if rating.username == session['username'] %}





                  <div class="dropdown-toggle_details">
                    <i class="fas fa-ellipsis-v"></i>
                    <div class="dropdown-menu">



                      <form action="{{ url_for('delete_rating', comment_id=rating.comment_id) }}" method="post">
                        <button type="submit"
                          style="border: none; background-color: white; text-align: center;">Delete</button>
                      </form>
                      <script>

                      </script>




                    </div>
                  </div>

                  {% endif %}
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <div class="comment_section"
            style="height: 100%; display: flex; justify-content: center; align-items: center; flex-direction:column; gap: 10px; ">
            <img src="https://cdn-icons-png.flaticon.com/512/2206/2206303.png" alt=""
              style="width: 200px; height: 200px;">
            <p class="no-ratings" style="font-size: 15px; font-weight: bold; letter-spacing: 1px;">No ratings and
              reviews available yet.<i class="fa-solid fa-face-smile" style="margin-left: 8px;"></i></p>
          </div>
          {% endif %}
        </div>

      </div>



    </div>

  </div>



  </div>








  </div>



  </div>






  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>






  <script>


    function searchButtonClick() {
      showLoader(); // Show the loading spinner when search starts
      setTimeout(() => {
        // Perform the search operation or submit the form
        hideLoader();
      }, 2000); // Adjust the delay as needed
    }

    document.addEventListener("DOMContentLoaded", function () {
      // Hide the loading spinner once the page has finished loading
      hideLoader();
    });




    function redirectToDetails(url) {
      showLoader(); // Show the loading spinner when search starts
      setTimeout(() => {
        // Perform the search operation or submit the form
        // ...
        window.location.href = url;
        hideLoader();
      }, 900); // Adjust the delay as needed
    }

    document.addEventListener("DOMContentLoaded", function () {
      // Hide the loading spinner once the page has finished loading
      hideLoader();
    });




    function showLoader() {
      const loader = document.getElementById("loader");
      loader.style.display = "block";
    }

    function hideLoader() {
      const loader = document.getElementById("loader");
      loader.style.display = "none";
    }











    document.addEventListener('DOMContentLoaded', function () {
      var toggleButtons = document.querySelectorAll('.dropdown-toggle_details');

      toggleButtons.forEach(function (button) {
        button.addEventListener('click', function (event) {
          event.stopPropagation(); // Prevents the event from bubbling up to the document click event listener
          var menu = this.querySelector('.dropdown-menu');
          this.classList.toggle('active');
          menu.style.display = (menu.style.display === 'block') ? 'none' : 'block';
        });
      });

      document.body.addEventListener('click', function () {
        toggleButtons.forEach(function (button) {
          var menu = button.querySelector('.dropdown-menu');
          button.classList.remove('active');
          menu.style.display = 'none';
        });
      });
    });


    document.getElementById('bookmark-form').addEventListener('submit', function (event) {
      event.preventDefault(); // Prevent the form from submitting normally
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/bookmark');
      xhr.onload = function () {
        if (xhr.status === 200 && xhr.responseText === 'success') {
          alert('Bookmark added successfully!');
          window.location.reload(); // Refresh the page
        }
      };
      xhr.send(new FormData(event.target));
    });

    const dateElements = document.querySelectorAll('.date');
    const timezoneOffset = new Date().getTimezoneOffset() * 60 * 1000; // get the timezone offset in milliseconds




    function openTab(evt, tabName) {
      var i, tabContent, tabBtn;

      tabContent = document.getElementsByClassName("tab-content");
      for (i = 0; i < tabContent.length; i++) {
        tabContent[i].style.display = "none";

      }

      tabBtn = document.getElementsByClassName("tab-btn");
      for (i = 0; i < tabBtn.length; i++) {
        tabBtn[i].className = tabBtn[i].className.replace(" active", "");
      }

      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
    }



  </script>


</body>

</html>








<style>
  
  nav {
  
    font-family: 'Mitr', sans-serif;
    letter-spacing: 1px;
    color: black;
    font-weight: bold;
  
  }
  
  ul.navbar-nav.me-auto {
  
  margin-left: 1%;  
  margin-top: 1%;
  background-color: rgb(236, 236, 236);
  padding-inline: 2%;
  border-radius: 20px;
  color: black;
  font-size: clamp(5px, 1vw, 16px);
  cursor: pointer;
  
  }
  
  .nav-item {
  
  margin-left: 10px;
  
    
  }
  
  .nav-item:hover {
  
  background-color: rgb(211, 211, 211);
  
  
  }
  
   
  
  select {
  
  
  
  border-radius: 5px;
  width:60%;
  background-color: rgb(197, 197, 197);
  font-size: clamp(5px, 1vw, 16px);
  margin-right: 2%;
  outline: none;
  border: none;
  font-weight: bold;
  padding-inline: 1%;
  
  }
  
  
  button.btn {
  
  background-color: rgb(250, 69, 100);
  border: none;
  font-size: clamp(5px, 1vw, 16px);
  
  
  }
  
  
  input.form-control {
  
  outline: none;
  border: none;
  font-size: clamp(5px, 1vw, 16px);
  
  }
  
  ul.dropdown-menu {
  
  font-size: clamp(5px, 1vw, 16px);
    
  }
  
  
  
  
    .profile-icon {
      width: 20px;
      height: 20px;
      margin-right: 5px;
      border-radius: 50%;
    }
  
    @media (max-width: 1070px) {
  
      ul.navbar-nav.me-auto {
  
        
        font-size: clamp(5px, 1.2vw, 18px);
      
        
        }
  
        ul.dropdown-menu {
  
          font-size: clamp(5px, 1.2vw, 18px);
          background-color: rgb(204, 204, 204);
  
  
        }
  
  
        button.btn {
  
       
          font-size: clamp(5px, 1.2vw, 18px);
          
          
          }
  
          input.form-control {
  
            font-size: clamp(5px, 1.2vw, 18px);
            }
  
  
            select {
  
              font-size: clamp(5px, 1.2vw, 18px);
  
            }
          
  
    }
  
  
    @media (max-width: 414px) {
  
      ul.navbar-nav.me-auto {
  
        
        font-size: clamp(5px, 2.8vw, 32px);
        border-radius: 5px;
        
        }
  
        ul.dropdown-menu {
  
          font-size: clamp(5px, 2.8vw, 32px);
  
        }
  
  
        button.btn {
  
       
          font-size: clamp(5px, 2.8vw, 32px);
          
          
          }
  
          input.form-control {
  
            font-size: clamp(5px, 2.8vw, 32px);
            }
  
  
            select {
  
              font-size: clamp(5px, 2.8vw, 32px);
  
            }
          
  
    }
  
  
  
  </style>
  