<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/static/index.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="icon" type="image/png" href="https://gcdnb.pbrd.co/images/cPhCVrB22ZLU.jpg?o=1">


  <style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Concert+One&family=Young+Serif&display=swap');
  </style>



  <title>YumRadar</title>

</head>

<div id="loader" class="loader"></div>

<body>

  
  <nav class="navbar navbar-expand-lg"
    style="background-color: white; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); min-width: 414px; ">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}"><img src="https://gcdnb.pbrd.co/images/yPa00YmfeCYP.png?o=1" alt=""
          style="width: 170px; height:60px; border-radius: 10px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">


        <ul class="navbar-nav me-auto mb-2">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" onclick="redirectToDetails('{{ url_for('index') }}')"
             ><i class="fa-solid fa-house" style="margin-right: 5px;"></i>Home</a>
          </li>


          {% if 'username' in session %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{profile_pic_url}}" alt="" class="profile-icon">
              {{ session['username'] }}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" onclick="redirectToDetails('{{ url_for('profile') }}')">Profile setting</a>
              </li>
              <li><a class="dropdown-item" onclick="redirectToDetails('{{ url_for('bookmarks') }}')">Bookmarks</a></li>
              <li><a class="dropdown-item" onclick="redirectToDetails('{{ url_for('help_desk') }}')">Help desk</a></li>
              {% if session['is_admin'] %}
              <li><a class="dropdown-item" onclick="redirectToDetails('{{ url_for('admin_dashboard') }}')">Admin Dashboard</a></li>
              {% endif %}
            </ul>
            {% else %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" onclick="redirectToDetails('{{ url_for('login') }}')"
            ><i class="fa-solid fa-right-to-bracket"
                style="margin-right: 5px;"></i>Login</a>
          </li>
          {% endif %}



          {% if 'username' in session %}
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" onclick="redirectToDetails('{{ url_for('logout') }}')"
              ><i class="fa-solid fa-right-from-bracket"
                style="margin-right: 5px;"></i>Logout</a>
          </li>
        </ul>
        {% else %}
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" onclick="redirectToDetails('{{ url_for('register') }}')"
          ><i class="fa-solid fa-user-plus"
            style="margin-right: 5px;"></i>Register</a>
        </li>
        </ul>
        {% endif %}


        <form class="d-flex" role="search" action="{{ url_for('recommend') }}" method="post">
          <select id="location" name="location">
            {% for location in location_select %}
            <option value="{{ location }}"><i class="fa-solid fa-location-dot"></i>{{ location }}</option>
            {% endfor %}
          </select>
          <input class="form-control me-2" type="search" placeholder="Search for Foods, Category, Resto" aria-label="Search " name="value"
            id="value" style="background-color: rgb(212, 212, 212);">
          <button class="btn btn-success" onclick="redirectToDetails('{{ url_for('index') }}')">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="Main_container">

    <div class="Grid one" id="Section_1">


      <div class="Front">


        <div class="left">



        </div>



        <div class="right">



          <div class="upper">

            <div class="features"><a style="cursor: pointer; color: white;" onclick="redirectToDetails('{{ url_for('help_desk') }}')"><i class="fa-solid fa-list"
                  style="margin-right: 10px;"></i>Help desk</a>
            </div>
            <div class="about_us"><a style="cursor: pointer; color: white;" onclick="redirectToDetails('{{ url_for('about_us') }}')"><i class="fa-solid fa-circle-info"
                  style="margin-right: 10px;"></i>About
                us</a></div>

          </div>

          <div class="Welcome">Discover culinary delights at your fingertips.</div>
          <a onclick="redirectToDetails('{{ url_for('feed') }}')" style="text-decoration: none;">
            <div class="get_started">Explore <i class="fa-solid fa-right-long" style="margin-left: 8px;"></i></div>
          </a>
          <div class="social_icon_container">

            <i class="bi bi-facebook" style="color: rgb(10, 106, 185);"></i>
            <i class="bi bi-twitter" style="color: rgb(87, 193, 255);"></i>
            <i class="bi bi-instagram" style="color: rgb(204, 55, 55);"></i>


          </div>









        </div>


      </div>








    </div>







    <div class="Grid two" id="Section_2">



      <div class="placehoders">

        <div class="placeholder_one">

          <div class="placeholder_photos">

            <img
              src="https://images.pexels.com/photos/67468/pexels-photo-67468.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="">

          </div>
          <div class="placeholders_details">

            <p><i class="fa-solid fa-magnifying-glass" style="margin-right: 10px;"></i>Search</p>

          </div>

        </div>

        <div class="placeholder_two">

          <div class="placeholder_photos">

            <img
              src="https://ae01.alicdn.com/kf/HTB1cBsxboLrK1Rjy0Fjq6zYXFXal/JiaSheMeiJu-Custom-3D-Wall-Papers-Home-Decor-Creative-Food-Background-Wall-Mural-Restaurant-Photo-Mural-Wallpaper.jpg"
              alt="">

          </div>
          <div class="placeholders_details">

            <p><i class="fa-solid fa-globe" style="margin-right: 10px;"></i>Discover</p>

          </div>

        </div>

        <div class="placeholder_three">


          <div class="placeholder_photos">

            <img
              src="https://bestlifeonline.com/wp-content/uploads/sites/3/2018/01/shutterstock_364873787.jpg?quality=82&strip=1&resize=640%2C360"
              alt="">

          </div>
          <div class="placeholders_details">

            <p><i class="fa-solid fa-utensils" style="margin-right: 10px;"></i>Dine</p>

          </div>

        </div>


      </div>



      <div class="slider_container">


        <div class="slider">
          <div class="slide active">
            <img
              src="https://img3.parisbouge.com/C0wcrlSdTaDn2H5ISFT68mhyj0s9CXjQbgQnaapNWLg/rs:fill:1500:1000:1/g:ce/M2Q2MTI1OWMtOGNmZS00MzQ3LTlmNDEtM2NmZWNlNWUyYzdmLmpwZw.webp"
              alt="Image 1" />
            <div class="slide-content">
              <h2>Personalized recommendations</h2>
              <p>The system provides recommendations that are tailored to the user location and category preferences,
                ensuring that the recommendations are relevant and useful for the user.</p>
            </div>
          </div>
          <div class="slide">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Restaurant_N%C3%A4sinneula.jpg/1200px-Restaurant_N%C3%A4sinneula.jpg"
              alt="Image 2" />
            <div class="slide-content">
              <h2>Improved search efficiency</h2>
              <p>By filtering recommendations based on the user preferences, the system eliminates the need for users to
                manually search through a large number of restaurants to find the ones that meet their criteria. This
                saves time and makes the search process more efficient.</p>
            </div>
          </div>
          <div class="slide">
            <img
              src="https://lirp.cdn-website.com/a51608eb/dms3rep/multi/opt/20210129-AM-MRC+Seating+Arrangement+25-1920w.jpg"
              alt="Image 3" />
            <div class="slide-content">
              <h2>Increased customer satisfaction</h2>
              <p>By considering multiple criteria, the system provides a more diverse set of recommendations, helping
                users discover new and interesting restaurants they may not have otherwise considered.</p>
            </div>
          </div>
        </div>


      </div>






    </div>







   





</body>

<footer>

  
<div class="upper_footer">
<div class="our_team">

  <div class="our_team_text">OUR TEAM</div>

  <div class="names">Raphael Luis C. Miclat</div>
  <div class="names">Eunice Grace N. Pague</div>
  <div class="names">Gerald P. Nuque</div>


</div>
<div class="Social_Media">

  <div class="Social_Media_text">SOCIAL MEDIA</div>

  <div class=""><strong>Email: </strong>YumRadar@gmail.com</div>
  <div class=""><strong>Facebook: </strong>www.facebook.com/page/Yumradar.com</div>
  <div class=""><strong>Viber: </strong>+63091-0582-7036</div>


</div>
<div class="Quick_links">

<div class="Quick_links_text">QUICK LINKS</div>

<div class=""><a style="text-decoration: none; color: white;" href="">Home</a></div>
<div class=""><a style="text-decoration: none; color: white;"  href="">Login</a></div>
<div class=""><a style="text-decoration: none; color: white;" href="">Register</a></div>


</div>

</div>

<div class="lower_footer">


<div class="allrights_reserve">&#169 2023 All rights reserved</div>

</div>





</footer>



</html>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<script>


  function redirectToDetails(url) {
    showLoader(); // Show the loading spinner when search starts
    setTimeout(() => {
      // Perform the search operation or submit the form
      // ...
      window.location.href = url;
      hideLoader();
    }, 900); // Adjust the delay as needed
  }

  document.addEventListener("DOMContentLoaded", function () {
    // Hide the loading spinner once the page has finished loading
    hideLoader();
  });




  function showLoader() {
    const loader = document.getElementById("loader");
    loader.style.display = "block";
  }

  function hideLoader() {
    const loader = document.getElementById("loader");
    loader.style.display = "none";
  }




  window.addEventListener('DOMContentLoaded', () => {
    const background = document.querySelector('.background-image');
    background.style.opacity = 1;
  });






  const slides = document.querySelectorAll(".slide");
  const intervalTime = 5000;
  let slideInterval;

  const nextSlide = () => {
    const currentSlide = document.querySelector(".active");
    currentSlide.classList.remove("active");
    if (currentSlide.nextElementSibling) {
      currentSlide.nextElementSibling.classList.add("active");
    } else {
      slides[0].classList.add("active");
    }
  };

  slideInterval = setInterval(nextSlide, intervalTime);




  // Get the links to the sections
  const aboutUsLink = document.querySelector('a[href="#Section_3"]');
  const featuresLink = document.querySelector('a[href="#Section_2"]');

  // Add event listeners to the links
  aboutUsLink.addEventListener('click', scrollToAboutUs);
  featuresLink.addEventListener('click', scrollToFeatures);

  // Define the functions to scroll to the sections with a transition effect
  function scrollToAboutUs(event) {
    event.preventDefault(); // prevent the default link behavior
    const aboutUsSection = document.getElementById('Section_3');
    aboutUsSection.scrollIntoView({ behavior: 'smooth' });
  }

  function scrollToFeatures(event) {
    event.preventDefault(); // prevent the default link behavior
    const featuresSection = document.getElementById('Section_2');
    featuresSection.scrollIntoView({ behavior: 'smooth' });
  }



</script>


<style>
  
nav {

  font-family: 'Mitr', sans-serif;
  letter-spacing: 1px;
  color: black;
  font-weight: bold;

}

ul.navbar-nav.me-auto {

margin-left: 1%;  
margin-top: 1%;
background-color: rgb(236, 236, 236);
padding-inline: 2%;
border-radius: 20px;
color: black;
font-size: clamp(5px, 1vw, 16px);
cursor: pointer;

}

.nav-item {

margin-left: 10px;

  
}

.nav-item:hover {

background-color: rgb(211, 211, 211);


}

 

select {



border-radius: 5px;
width:60%;
background-color: rgb(197, 197, 197);
font-size: clamp(5px, 1vw, 16px);
margin-right: 2%;
outline: none;
border: none;
font-weight: bold;
padding-inline: 1%;

}


button.btn {

background-color: rgb(250, 69, 100);
border: none;
font-size: clamp(5px, 1vw, 16px);


}


input.form-control {

outline: none;
border: none;
font-size: clamp(5px, 1vw, 16px);

}

ul.dropdown-menu {

font-size: clamp(5px, 1vw, 16px);
  
}




  .profile-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
  }

  @media (max-width: 1070px) {

    ul.navbar-nav.me-auto {

      
      font-size: clamp(5px, 1.2vw, 18px);
    
      
      }

      ul.dropdown-menu {

        font-size: clamp(5px, 1.2vw, 18px);
        background-color: rgb(204, 204, 204);


      }


      button.btn {

     
        font-size: clamp(5px, 1.2vw, 18px);
        
        
        }

        input.form-control {

          font-size: clamp(5px, 1.2vw, 18px);
          }


          select {

            font-size: clamp(5px, 1.2vw, 18px);

          }
        

  }


  @media (max-width: 414px) {

    ul.navbar-nav.me-auto {

      
      font-size: clamp(5px, 2.8vw, 32px);
      border-radius: 5px;
      
      }

      ul.dropdown-menu {

        font-size: clamp(5px, 2.8vw, 32px);

      }


      button.btn {

     
        font-size: clamp(5px, 2.8vw, 32px);
        
        
        }

        input.form-control {

          font-size: clamp(5px, 2.8vw, 32px);
          }


          select {

            font-size: clamp(5px, 2.8vw, 32px);

          }
        

  }



</style>